In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.insert(0, '../src')
from tools import *
import pickle
import pandas as pd

In [3]:
f = open("../pickled/cacmShort-good--indexer", "rb")
indexer = pickle.load(f)
f.close()

In [37]:
docs = indexer.getCollection()

In [18]:
query = "computing computing glossaries"

## Modèle vectoriel

In [38]:
W2 = Weighter2(indexer)
modelVec = Vectoriel(indexer, W2)

In [39]:
pd.DataFrame.from_dict(modelVec.all_doc_norms, orient='index').rename(columns={0:'Norme du document'})

    Norme du document
1            2.449490
2            2.449490
3            2.236068
4            2.236068
5            1.732051
6            1.732051
7            2.236068
8            2.000000
9            1.414214
10           2.236068
11           2.828427

In [45]:
scores = modelVec.getRanking(query)

pd.DataFrame(scores).rename(columns={0:'Identifiant du document',1:'Score (modèle vectoriel)'})

   Identifiant du document  Score (modèle vectoriel)
0                        4                         3
1                       10                         3
2                        7                         3
3                        2                         2
4                        6                         2

In [42]:
for k,v in scores:
    print("Document {} : {}".format(k,docs[k].get_text()))

Document 4 : Glossary of Computer Engineering and Programming Terminology
Document 10 : Glossary of Computer Engineering and Programming Terminology
Document 7 : Glossary of Computer Engineering and Programming Terminology
Document 2 : Extraction of Roots by Repeated Subtractions for Digital Computers
Document 6 : The Use of Computers in Inspection Procedures

## Modèle de langue

In [43]:
ml = ModeleLangue(indexer)

In [47]:
scores = ml.getRanking(query)

pd.DataFrame(scores).rename(columns={0:'Identifiant du document',1:'Score (modèle de langue)'})

   Identifiant du document  Score (modèle de langue)
0                        4                  2.605870
1                       10                  2.605870
2                        7                  2.605870
3                        2                  1.452638
4                        6                  0.898121

In [48]:
for k,v in scores:
    print("Document {} : {}".format(k,docs[k].get_text()))

Document 4 : Glossary of Computer Engineering and Programming Terminology
Document 10 : Glossary of Computer Engineering and Programming Terminology
Document 7 : Glossary of Computer Engineering and Programming Terminology
Document 2 : Extraction of Roots by Repeated Subtractions for Digital Computers
Document 6 : The Use of Computers in Inspection Procedures

## OkapiBM25

In [58]:
okapi = OkapiBM25(indexer)

In [63]:
print("Longueur moyenne des documents de la collection cacmShort-good : {}".format(okapi.avgdl))

Longueur moyenne des documents de la collection cacmShort-good : 7.090909090909091

In [64]:
scores = okapi.getRanking(query)

pd.DataFrame(scores).rename(columns={0:'Identifiant du document',1:'Score (okapi)'})

   Identifiant du document  Score (okapi)
0                        4       0.878148
1                       10       0.878148
2                        7       0.878148
3                        6       0.339714
4                        2       0.307802